@inherits NancyRazorViewBase<dynamic>
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>