@inherits NancyRazorViewBase<IEnumerable<Drey.Configuration.DataModel.Release>>
@{
    ViewBag.Title = "Global Settings";
    var faBase = "fa fa-fw fa-3x";
}

<p class="lead">The following applications are installed in this runtime.</p>

<ul class="media-list">
    @foreach (Drey.Configuration.DataModel.Release pkg in Model)
    {
        <li class="media">
            <div class="media-left media-top">
                <span class="@faBase fa-ban text-danger" title="offline"></span>
            </div>
            <div class="media-body">
                <a href="~/applet/@pkg.Id">
                    <h2 class="media-heading">@pkg.Title</h2>
                </a>
                <p>@pkg.Description</p>
            </div>
        </li>
    }
</ul>