@inherits NancyRazorViewBase<IEnumerable<Drey.Configuration.Services.ViewModels.AppletInfoPmo>>
@{
    ViewBag.Title = "Global Settings";
}

<p class="lead">The following applications are installed in this runtime.</p>

@foreach (Drey.Configuration.Services.ViewModels.AppletInfoPmo pkg in Model)
{
    @Html.Partial("_AppletInfo", pkg)
}
