@inherits NancyRazorViewBase<IEnumerable<Drey.Configuration.Services.ViewModels.AppletInfoPmo>>
@{
    ViewBag.Title = "Recycle Environment";
    //var faBase = "fa fa-fw fa-3x";
}

<p class="lead">Recycling Hosting environment.</p>

<p>By pressing `confirm`, you will be restarting the hosting environment, as well as any running applications within the environment.</p>

<p>Current applications:</p>

@foreach (Drey.Configuration.Services.ViewModels.AppletInfoPmo pkg in Model)
{
    @Html.Partial("_AppletInfo", pkg)
}

<form method="post">
    @Html.AntiForgeryToken()
    <div>
        <button type="submit" value="Confirm" class="btn btn-primary">Confirm</button>
        <a href="~/" class="btn btn-default">Cancel</a>
    </div>
</form>