@inherits NancyRazorViewBase<Drey.Configuration.Services.ViewModels.GlobalSettingsPmo>
@{
    ViewBag.Title = "Update Client Certificate";
}
@Html.Partial("Shared/ValidationSummary")
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">@ViewBag.Title</div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="SSLPfx">SSL Certificate</label>
                        <input type="file" name="SSLPfx" class="form-control" />
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="~/" class="btn btn-default">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>