@inherits NancyRazorViewBase<Drey.Configuration.Services.ViewModels.ServerHostnamePmo>
@{
    ViewBag.Title = "Change Server Hostname";
}
@Html.Partial("Shared/ValidationSummary")
<div class="row">
    <div class="col-md-4 col-md-offset-4 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">@ViewBag.Title</div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="CurrentHostname">Currently Set As</label>
                        <span name="CurrentHostname" class="form-control-static">@Model.CurrentHostname</span>
                    </div>
                    <div class="form-group">
                        <label for="NewHostname">Update To</label>
                        <input name="NewHostname" class="form-control" value="@Model.NewHostname" />
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="~/" class="btn btn-default">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>